button {
  background: 383838;
  color: white;
  border-radius: 0;
  align: center;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  font-family: Fira Sans Condensed;
  font-size: 1rem;
  font-spacing: 0.07rem;
}
